@import 'src/styles/settings/variables';

.header {
  align-items: center;
  background-color: dodgerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  &__content {
    position: absolute;
    transform: translate(0, -15%);
    width: 85%;

    @media only screen and (min-width: $b-medium) {
      width: 27%;
    }
  }

  &__title {
    color: var(--c-white);
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 25px;
    text-align: center;
  }

  &__image {
    min-height: 200px;
  }
}
