@import 'src/styles/settings/variables';

.app {
  &__address-description {
    background-color: var(--c-white);
    left: 50%;
    position: absolute;
    transform: translate(-50%, -12%);
    width: calc(85% - 2px);
    z-index: 401;

    @media only screen and (min-width: $b-medium) {
      width: calc(80% - 2px);
    }
  }
}
